<!doctype html>
<html>

<head>
    <title>创建钱包</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">	
    <style type="text/css">
    a:link {
	color: #FFFFFF;
	text-decoration: none;
}
    a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FF0004;
}
a:active {
	text-decoration: none;
}
    body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
    </style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td bgcolor="#31B338"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td width="137" height="56" align="center" bgcolor="#31B338" style="font-size: 18px; color: #FFFFFF;"><strong><a href="/newaccount">新建钱包帐户</a></strong></td>
            <td width="182" align="center" bgcolor="#31B338" style="font-size: 18px; color: #FFFFFF;"><strong><a href="/transaction">发送以太币&amp;代币</a></strong></td>
            <td width="123" align="center" bgcolor="#31B338" style="font-size: 18px; color: #FFFFFF;"><strong><a href="/checktransaction">查询交易</a></strong></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="400" bgcolor="#F8FF00"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td height="50" align="center"><h1>创建一个新的钱包</h1></td>
          </tr>
          <tr>
            <td height="50" align="center"><form name="form1" method="post" action="/newaccount">
              <label for="password">请输入钱包密码:</label>
              <input type="text" name="password" id="password" placeholder="请输入密码">
              <input name="submit" type="submit" id="submit" value="创建">
            </form></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="50" align="center" bgcolor="#31B338" style="color: #FFFFFF; font-size: 18px;"><strong>版本1.0，以太坊钱包，版权所有copyright hedianbin</strong></td>
    </tr>
  </tbody>
</table>
</body>

</html>